body {
    background-color: #F3F5FC;;
    margin: 0 0;    
}

main {
    margin: 0 auto;
    /*border: 1px solid red;*/
}

.logo-alura {
    margin: 0 0 2% 0;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
}

.cajas-principales {
    /*border: 5px dotted blue;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.encriptar-desencriptar {
    /*border: 5px solid green;*/
    display: inline-block;
    width: 50%;
}

.mensaje-usuario {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: #F3F5FC;
    width: 100%;
    height: 75%;
}

.encriptar-desencriptar p {
    display: inline-block;
    color: #495057;
    font-size: 12px;
}

.botones-encriptacion {
    display: flex;
    justify-content: center;
    margin: 0;
    /*border: 3px solid purple;*/
}

.encriptar, .desencriptar{
    margin: 0 10px;
    background-color: #0A3871;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    position: relative;
    bottom: 25px;
}

.desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871
}

.encriptar:hover, .desencriptar:hover, .copiar:hover {
    background-color: #0288D1;
    color: white;
    border: none;
}

.encriptar:active, .desencriptar:active, .copiar:active{
    background-color: black;
    color: white;
}

.mensaje-no-encontrado {
    background-color: white;
    /*border: 5px solid black;*/
    width: 22%;
    height: 550px;
    display: inline-block;
    position: relative;
    bottom: 50px;   
    border-radius: 32px;
    text-align: center;
    padding-top: 5px;
}

.no-mensaje {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #343A40;
    font-size: 24px;
}

.ingresar-mensaje {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.mensaje-revelado {
    display: none;
    background-color: white;
    width: 22%;
    height: 550px;
    position: relative;
    bottom: 50px;
    border-radius: 32px;
    text-align: center;
    padding-top: 5px;  
    /*display: none;*/
}

.mensaje {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 85%;
    margin-top: 5%;
    margin: 0 auto;
    text-align: center;
}   

.copiar {
    color: #0A3871;
    background-color: #F3F5FC;
    padding: 15px;
    border: 1px solid #0A3871;
    border-radius: 25px;
}


footer {
    background-color: #0A3871;
    /*border: 3px solid purple;*/
    padding: 8px 0;
    color: white;
    display: flex;
    justify-content: center;

}

.social-media {
    display: inline-block;
    padding: 0 30px;
} 

.github, .linkedin {
    width: 55px;
    height: 55px;
}

.copyright {
    padding: 0 30px;
    position: relative;
}

/*Responsive Design - Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .muñeco {
        display: none;
    }

    .cajas-principales {
        height: 500px;
        align-content: top;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .encriptar-desencriptar {
        width: 90%;
        height: 90%;
    }

    .warning {
        display: inline-block;
        width: 30%;
    }

    .mensaje-usuario {
        width: 100%;
        height: 100%;
    }
    .mensaje-no-encontrado {
        display: none;
        margin: 15%;
        width: 90%;
        height: 10%;
    }

    .mensaje-revelado {
        margin-top: 18%;
        border: 2px solid gray;
        width: 90%;
        height: 90%;
    }

    footer {
        margin-top: 4%;
    }
}

/*Responsive Design - Celular*/
@media only screen and (max-width: 402px) {
    .muñeco {
        display: none;
    }

    .cajas-principales {
        height: 500px;
        align-content: top;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .encriptar-desencriptar {
        width: 90%;
        height: 90%;
    }

    .warning {
        display: inline-block;
    }

    .botones-encriptacion {
        margin-top: 8%;
    }

    .mensaje-usuario {
        width: 100%;
        height: 100%;
    }

    .mensaje-no-encontrado {
        display: none;
        margin: 15%;
        width: 90%;
        height: 10%;
    }

    .mensaje-revelado {
        margin-top: 50%;
        border: 2px solid gray;
        width: 90%;
        height: 90%;
    }

    footer {
        width: 100%;
        margin-top: 15%;
        font-size: 10px;
        display: inline-block;

    }

    .footer-box {
        margin: 0 15%;
        width: 200px;

        display: inline-block;
    }

    .social-media {
        width: 75px;    
        margin: 0 17%;
    }

    .copyright {
        margin: 0 auto;
        text-align: center;
        width: 50%;
    }

    .github, .linkedin {
        width: 35px;
        height: 35px;
    }
}